
<div class="container">
  <div class="col-md-5">  
  

<h2>Registre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Telefone" %><br />
    <%= f.text_field :phone, class: 'form-control', placeholder:"00000-0000" %>
  </div>

  <div class="form-group">
    <%= f.label "Endereço" %><br />
    <%= f.text_field :address, class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Senha" %>
    <% if @minimum_password_length %>
    <em>(minimo <%= @minimum_password_length %> characteres )</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Confirmação Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", class: 'btn btn-primary' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>

  </div>

</div>
