<div class="container">
  <div class="col-md-9">  

<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Titulo" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Genero" %>
    <%= form.text_field :genre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Duração" %>
    <%= form.number_field :running_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Sinopse" %>
    <%= form.text_field :synopsis, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Direção" %>
    <%= form.text_field :direction, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "elenco" %>
    <%= form.text_field :cast, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", class: 'btn btn-primary' %>
  </div>
<% end %>

  </div>

</div>
