<div class="cointainer-fluid">
  <div class="row-fluid">
<h1>Filmes</h1>

<%= link_to 'Cadastrar', new_movie_path, class: 'btn btn-primary' %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr class="row">
      <th scope="col">Titulo</th>
      <th scope="col">Gênero</th>
      <th scope="col">Duração</th>
      <th scope="col">Sinopse</th>
      <th scope="col">Direção</th>
      <th scope="col">Elenco</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr class="row">
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.running_time %></td>
        <td><%= movie.synopsis %></td>
        <td><%= movie.direction %></td>
        <td><%= movie.cast %></td>
        <td><%= movie.status %></td>
        <td><%= link_to 'Exibir', movie ,  class: "btn btn-info"  %></td>
        <td><%= link_to 'Editar', edit_movie_path(movie),  class: "btn btn-info"  %></td>
        <td><%= link_to 'Excluir', movie, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-info"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 </div>
</div>



