<p>
  <strong>Titulo:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @movie.running_time %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Direção:</strong>
  <%= @movie.direction %>
</p>

<p>
  <strong>Elenco:</strong>
  <%= @movie.cast %>
</p>

<p>
  <strong>Status:</strong>
  <%= @movie.status %>
</p>

<%= link_to 'Editar', edit_movie_path(@movie), class: 'btn btn-info' %> |
<%= link_to 'Voltar', movies_path, class: 'btn btn-info' %>
