<div class="cointainer-fluid">
  <div class="row-fluid">
    
<h1>Usuários</h1>

<%= link_to 'Novo Usuário', new_user_registration_path, class: "btn btn-primary" %>


<table class="table table-hover">
  <thead class="thead-dark">
    <tr class="row">
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Endereço</th>
      <th scope="col" colspan="3"></th>x
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="row">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= link_to 'Show', user,  class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user),  class: "btn btn-info"  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-info"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>





 </div>
</div>
