<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.genre %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.running_time %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @user.synopsis %>
</p>



<%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-primary' %> |
<%= link_to 'Voltar', users_path, class: 'btn btn-info' %>