<div class="container">
  <div class="col-md-5"> 

<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label "Memorizar" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>

</div>
