<div class="container-fluid">
  
  <div class="row-fluid">
	<h2>Veja suas reservas, <%= current_user.name %> </h2>
    <div class="col-md-5 feature">
	  <table class="table table-hover">
	  <thead class="thead-dark">
	    <tr class="row">
	      <th scope="col">Titulo</th>
	      <th scope="col">Data Retirada</th>
	      <th scope="col">Data Devolução</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @bookings.each do |booking| %>
	      <tr class="row">
	        <td><%= booking.movie.title %></td>
	        <td><%= booking.start_booking %></td>
	        <td><%= booking.end_booking %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</div>
	
  </div>
 </div>