<%= form_with(url: "/booking", method: "post") do |form| %>
  
	
	<div class="form-group">
      <%= form.label "Data Retirada" %>
      <%= form.text_field :start_booking, placeholder: "yyyy-mm-dd",  class: "form-control datepicker" %>
    </div>

    <div class="form-group">
      <%= form.label "Data Devolução" %>
      <%= form.text_field :end_booking, placeholder: "yyyy-mm-dd",  class: "form-control datepicker" %>
    </div>

    <%= hidden_field_tag(:movie_id, @booking_movie.id) %>
    <%= hidden_field_tag(:user_id, current_user.id) %>

    <div class="actions">
      <%= form.submit "Reservar", class: 'btn btn-primary' %>
    </div>

  
<% end %>
