<div class="container-fluid">
  
  <div class="row-fluid">
  	<h2>Boa escolha, <%= current_user.name %> !</h2>
    <div class="col-md-5 feature">
	  <h3>	<%= @booking_movie.title %></h3>
	  <p><strong>Gênero: </strong><%= @booking_movie.genre  %><p>
	  <p><strong>Duração: </strong><%= @booking_movie.running_time if !@booking_movie.running_time.nil?  %> min<p>
	  <p><strong>Sinopse </strong><%= @booking_movie.synopsis  %><p>
	  <p><strong>Direção: </strong><%= @booking_movie.direction if !@booking_movie.direction.nil? %><p>
	  <p><strong>Elenco: </strong><%= @booking_movie.cast if !@booking_movie.cast.nil?  %><p>
	  <p><strong>Status: </strong><%= @booking_movie.status if !@booking_movie.status.nil?  %> <p>
	</div>
	<div class="col-md-5 feature">
	  <h3>Escolha a data para sua reserva</h3>

      <%= render 'form', movie: @booking_movie %>

	</div>

  </div>
</div>