<div class="container-fluid">
  
  <div class="row-fluid">

  	<div class="col-md-9">
          <h2><%= @genre.first.genre %></h2>
          <% @genre.take(3).each do |movie| %>
          <div class="col-md-4 feature">
            <h3><%= movie.title %></h3>
            <p> <i><%= movie.genre %></i></p>
            <p><%= movie.synopsis %></p>
            <p class="book"> <a href="/book/<%=movie.id=%>" class="btn btn-primary">Reservar!</a> </p>
          </div>
          <% end %>

  	</div>

  </div>

</div>