<div class="container-fluid">
  
  <div class="row-fluid">
    
    <div class="col-md-3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><h4>Gêneros</h4></li>
          <% @genres.each do |genre| %>
          <li class="list-group-item"><a href="/site/genre/<%= genre %>"><%= genre %></a>  </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="jumbotron jumbotron-fluid">
        <h1>Bem vindo a Fortes Filmes!</h1><!--  class: "form-control", placeholder: "Busque o título que você procura!"-->
        <p>Reserve os Filmes que você procura sem sair de casa! Escolha os filmes por gêneros ou pelas seções em destaque abaixo
        </p>
        <%= form_tag movies_path, :action => 'getbusca', :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], class: 'form-control' %>
              <%= submit_tag "Busca", :name => nil, class: 'btn btn-primary' %>
            </p>
        <% end %>

      </div> 

      <div class="container-fluid">

        <div class="row">
          <h2> <a href="/site/releases">Lançamentos</a> </h2>
          <% @releases.take(3).each do |movie| %>
          <div class="col-md-4 feature">
            <h3><%= movie.title %></h3>
            <p> <i><%= movie.genre %></i></p>
            <p><%= movie.synopsis %></p>
            <p class="book"> <a href="/book/<%=movie.id=%>" class="btn btn-primary">Reservar!</a> </p>
          </div>
          <% end %>
        </div>

        <div class="row">
          <h2><a href="/site/wanted"> Mais Procurados </a></h2>
          <% @wanted.take(3).each do |movie| %>
          <div class="col-md-4 feature">
            <h3><%= movie.title %></h3>
            <p><%= movie.genre %></p>
            <p><%= movie.synopsis %></p>
            <p class="book"> <a href="/book/<%=movie.id=%>" class="btn btn-primary">Reservar!</a> </p>
          </div>
          <% end %>
        </div> 
      </div>

    </div>

  </div>
</div>
