<div class="container-fluid">  
  <div class="row-fluid">

  	<div class="col-md-9">
      
      <div class="jumbotron jumbotron-fluid">
        <p>Fazer nova busca?</p>
       

      </div> 

      <div class="container-fluid">

        <div class="row">

          <h2><%= @message %></h2>
          <% if !@results.empty? %>
            <% @results.each do |movie| %>
            <div class="col-md-4 feature">
              <h3><%= movie.title %></h3>
              <p> <i><%= movie.genre %></i></p>
              <p><%= movie.synopsis %></p>
              <p class="book"> <a href="/book/<%=movie.id=%>" class="btn btn-primary">Reservar!</a> </p>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

     </div>

  </div>
</div>