<div class="container-fluid">
  
  <div class="row-fluid">
    <h1>Mais Procurados</h1>
  	<div class="col-md-9">
          
          <% @wanted.each do |movie| %>
          <div class="col-md-4 feature">
            <h3><%= movie.title %></h3>
            <p> <i><%= movie.genre %></i></p>
            <p><%= movie.synopsis %></p>
            <p class="book"> <a href="/book/<%=movie.id=%>" class="btn btn-primary">Reservar!</a> </p>
          </div>
          <% end %>

  	</div>

  </div>

</div>