
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

$gray-medium-light: #EAEAEA;

.navbar-static-top{
  background: #cc2229;
  font-weight: 100;
  border: none;
}

.navbar-static-top a{
  color: white !important ;
}

.navbar-static-top a:hover{
  font-weight: 600;
}


.menu li{
  width: 120px;
}

.menu li:hover{
  background: #f3343c;

}

.menu li:last-child{
  width: 180px;
}


.menu li a{
  float: left;
}

.dropdown-menu, .dropdown-toggle:hover{
  background:#f3343c;
}

.dropdown-menu > li > a:hover{
  background: none;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background: none;
}

.feature {
  height: 250px;
}

.feature .book{
  position: absolute;
  bottom: 0
}


.bootstrap-datetimepicker-widget{
  background: white;
}




footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    /*It means: that a:hover */
    &:hover{
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}