<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expanded-menu" aria-expanded=" false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Fortes Filmes', root_url, class: 'navbar-brand' %>
    </div>

  <!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
  <div class="collapse navbar-collapse" id="expanded-menu">
    <ul class="nav navbar-nav">
      
    </ul>

   
      <ul class="nav navbar-nav navbar-right menu">

      <% if !user_signed_in? %>
      <li>
        <%= link_to "Registre-se", new_user_registration_path, :class => 'navbar-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
      </li>   
      <% else %>
        <% if current_user.admin == true %>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Usuários<span class="caret"></span>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Cadastrar Usuário', new_user_registration_path, :class => 'navbar-link' %>
              </li>
              <li>
                <%= link_to 'Listar Usuário', "/users", :class => 'navbar-link' %>
              </li>
           </ul>

        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Filmes<span class="caret"></span>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Cadastrar Filmes', new_movie_url, :class => 'navbar-link' %>
              </li>
              <li>
                <%= link_to 'Listar Filmes', "/movies", :class => 'navbar-link' %>
              </li>
           </ul>
        </li>
         <% end %>
        <li>
          <%= link_to 'Ver reservas', "/booking/show", :class => 'navbar-link' %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Bem vindo, <%= current_user.name %> <span class="caret"></span>
          </a>
                 

          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>
            </li>
            <li>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </li>
          </ul>
        </li>
      <% end %>

    </ul>
        </li>
      

    </ul>

  </div>

  </div>

</nav>